/* Natthapat Wongsawatgul 6409610612 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Mali', sans-serif;
}

.background {
    background-image: url('../images/bgimage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.block {
    background-position: center;
    width: 30%;
    background-color: rgba(40, 30, 10, 0.85);
    border-radius: 5%;
    font-family: 'Mali';
    padding: 20px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 60vh;
}

.footer {
    background-color: rgba(40, 30, 10, 0.85);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.header {
    background-color: rgba(40, 30, 10, 0.85);
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.header h1,
.footer h1 {
    margin: 0;
}

.button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: 'Mali';
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33%; }
    .col-s-11 { width: 91.66%; }
    .col-s-12 { width: 100%; }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
}
